@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/*  */
*,
*::after,
*::before {
  font-family: "Poppins", sans-serif;
}
/* body {
  overflow: hidden;
} */

/* .table_date_picker {
  background-color: red;
} */
.table_date_picker .mantine-DatePicker-dropdown {
  z-index: 9 !important;
  position: fixed;
}

/*  */
.custom_list {
  list-style: decimal;
  @apply p-5;
}
/*  */
.ql-editor {
  @apply h-[200px] scrollbar-thin overflow-y-scroll;
}

.main_page_invoice {
  padding: 100px 0px;
}
@media print {
  @page {
    size: A4;
    margin: 0px;
  }

  .main_page_invoice {
    padding: 200px 0px;
    page-break-before: always;
    page-break-after: always;
  }
}
